.sunset{
    width: 50rem;
    height: 30rem;
    margin: 10rem 5rem;
}
.img1{
    height: 20rem;
    width: 30rem;
    border-radius: 1rem;
}
.para{
    color:#756f6f;
}
.about-button{
    border-radius: 5rem;
}
.mycard{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}