.header {
    .nav-items{
        color: aliceblue;
        margin: 6px 6px;
    }
    .bg-header{
        
    }
    .logo-img{
        width: 35px;
    }
    .navbar-light .navbar-nav .nav-link{
       
            color: aliceblue;
        
      
    }
    .navbar-nav{
        .nav-link{
            color: aliceblue;
    }
    }
}